<h1></h1>
<p>

<%= link_to 'are you a company', new_company_path, class: "waves-effect waves-light btn" %>




<%= link_to 'are you a refugee', new_refugee_path, class: "waves-effect waves-light btn" %>

<a href= <img src="../../shutterstock_328528877.jpg"></a>


</p>
